.banner {
  img {
    width: 100vw;
  }
}

.ConteinerPosts {
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding: 0 2rem;
  margin-top: 4rem;
  justify-content: center;

  .ContentMain {
    width: 700px;
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;

    header {
      margin-bottom: 4rem;

      strong {
        font-size: 3rem;
        font-weight: 700;
        color: var(--white);
      }

      .Infos {
        width: 357px;
        color: var(--info);
        margin-top: 1.5rem;
        font-size: 0.9rem;
        display: flex;
        gap: 1.5rem;

        time,
        cite,
        p {
          display: flex;
          text-align: center;
          align-self: stretch;
          align-items: center;
        }

        .icons {
          margin-right: 0.5rem;
        }
      }
    }

    section {
      .contentSection {
        article {
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 2rem;
        }

        .body {
          color: var(--body);
          margin-bottom: 2rem;
        }
      }
    }
  }
}
